<main class="content" role="main">
<div class="ck_form_container ck_inline post-content" data-ck-version="6">
  <div class="ck_form ck_minimal">
  <div class="ck_form_fields">
    <h3 class="ck_form_title">Industrial Internet of Things</h3>
    <div class="ck_description">
      <p><strong>Coming January 2017</strong> - I'm putting together tutorials and guides for measuring and improving manufacturing machine efficiency. Learn how to quickly measure your factory's efficiency and make improvements. I'm sharing real world Industrial Internet solutions. Join my email list to receive actionable how-to guides to improve your manufacturing process.</p><p>Thank you, Chris</p>
    </div>
    <a class="subscribe_button" href="/IIoT-Tutorials">Click Here to Join</a>
  </div>
</div>

</div>
</main>