<main class="content" role="main">
    <article class="post">
        <section class="bottom-teaser">
            <h1 class="post-title">IIoT Tutorials - Coming January 2017</h1>
            <section class="post-content">
                <section class="post-content">
                    I'm putting together tutorials and guides for measuring and improving manufacturing machine efficiency. Learn how to quickly
                    measure your factory's efficiency and make improvements. I'm sharing real world Industrial Internet solutions.
                    Join my email list to receive actionable how-to guides to improve your manufacturing process.
                </section>
                <h2>
                    <a class="post-link" href="https://app.convertkit.com/landing_pages/131413?v=6">Join Now!</a>
                </h2>
            </section>
        </section>
    </article>
</main>